In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../data/house_rent_train.csv")

In [5]:
data.describe()

               bhk          rent         size     bathroom
count  2693.000000  2.693000e+03  2693.000000  2693.000000
mean      2.015225  3.027346e+04   909.992202     1.868919
std       0.811410  8.735978e+04   596.503028     0.847321
min       1.000000  1.200000e+03    20.000000     1.000000
25%       1.000000  9.000000e+03   520.000000     1.000000
50%       2.000000  1.500000e+04   800.000000     2.000000
75%       2.000000  2.500000e+04  1160.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [ ]:
from matplotlib.pyplot import

In [10]:
data['floor'][0].split(" ")[0]

'1'

In [13]:
test=data['floor'].apply(lambda x:x.split(" ")[0])

In [15]:
CAT_FEATURES = [
    "area_type",
    "city",
    "furnishing_status",
    "tenant_preferred",
    "point_of_contact",
]

In [17]:
from category_encoders import TargetEncoder as te

data[CAT_FEATURES]

,area_type,city,furnishing_status,tenant_preferred,point_of_contact
0,Carpet Area,Kolkata,Furnished,Bachelors,Contact Owner
1,Carpet Area,Kolkata,Unfurnished,Bachelors/Family,Contact Owner
2,Super Area,Kolkata,Furnished,Bachelors/Family,Contact Owner
3,Super Area,Kolkata,Unfurnished,Bachelors/Family,Contact Owner
4,Super Area,Kolkata,Unfurnished,Bachelors/Family,Contact Owner
...,...,...,...,...,...
2688,Carpet Area,Kolkata,Semi-Furnished,Bachelors/Family,Contact Owner
2689,Carpet Area,Bangalore,Semi-Furnished,Bachelors/Family,Contact Owner
2690,Super Area,Hyderabad,Semi-Furnished,Bachelors/Family,Contact Owner
2691,Carpet Area,Kolkata,Unfurnished,Bachelors/Family,Contact Agent
2692,Carpet Area,Kolkata,Unfurnished,Bachelors,Contact Agent

In [18]:
data[CAT_FEATURES]
te.fit_transform(data, columns)

TypeError: wrapped() missing 1 required positional argument: 'X'